@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://spb.hh.ru/resume/0d2b9af8ff09aa71e10039ed1f68776a565967" target="_blank">Резюме</a>
        </div>

        <article class="content">
            @* px-4 *@
            @Body
        </article>
    </main>
</div>
<RadzenComponents />
